* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #ffffff;
}

.logo h1 {
    color: #ffffff;
}

nav {
    background-color: #901a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    position: sticky;
    top: 0;
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 100px;
}

.home-content {
    display: flex;
    flex: 1;
    min-width: 300px;
    line-height: 1.5;
    flex-direction: column;
    gap: 30px;
}

.home-image {
    flex: 1;
    max-width: 400px;
    width: 100%;
    height: auto;
}

.home-content h1 span {
    color: #901a1a;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.logo-image {
    width: 33px;
    height: 33px;
}

.social-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.social-links a img {
    width: 30px;
    height: 30px;
}

.btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #901a1a;
    padding: 5px 20px;
    border-radius: 20px;
    display: inline-block;
    align-self: flex-start;
}

#portfolio {
    background-color: #e0e0e0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}

.portfolio-container {
    padding: 20px;
}

.portfolio-container h3 {
    color: #901a1a;
    margin: 20px;
}

.portfolio-image {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio-image img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}